<li class="burgerNames">
	{{burger_name}}

	<button class="devoured" data-id="{{id}}" data-newhunger="{{hungry}}">
		{{#if hungry}}DEVOUR!{{/if}}
	</button>

	<!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> -->
</li>
